{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="panel panel-default">
  		<div class="panel-body">
			<div class="login-container">
				<h2 class="text-center">Create Event</h2>

				{% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}

				<form class="form-horizontal" action="{{ url_for('add_event') }}" method="post" ng-app="loginApp" ng-controller="validateLogin"
                name="form" novalidate>
                    <fieldset>
                    
                    <div class="form-group">
				    <label for="name" class="col-sm-2 control-label">Event Name</label>
				    <div class="col-sm-10">
				      <input type="text" name="name" class="form-control" id="name" placeholder="Name" ng-model="name" required>
				    </div>
                    <span class="text-danger" ng-show="form.fullname.$dirty && (form.fullname.$error.required || form.fullname.$error.email)">A valid email is required</span>
				  </div>
                    
				  <div class="form-group">
				    <label for="description" class="col-sm-2 control-label">Description</label>
				    <div class="col-sm-10">
				    	<textarea name="description" class="form-control" id="description" ng-model="description" required></textarea>
				      
				    </div>
                    <span class="text-danger" ng-show="form.email.$dirty && (form.email.$error.required || form.email.$error.email)">A valid email is required</span>
				  </div>

				  <div class="form-group">
				    <label for="price" class="col-sm-2 control-label">Price</label>
				    <div class="col-sm-10">
				      <input type="number" name="price" class="form-control" id="price" placeholder="Price" ng-model="price" required>
				    </div>
                    <span class="text-danger" ng-show="form.password.$dirty && form.password.$error.required">Password is required</span>
				  </div>

				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Sign up</button>
				    </div>
				  </div>
                        </fieldset>
				</form>
			</div>	
  		</div>
	</div>
</div>

<script type="text/javascript">
    /**
    var app = angular.module('loginApp', []);

    app.config(['$interpolateProvider', function($interpolateProvider) {
      $interpolateProvider.startSymbol('{a');
      $interpolateProvider.endSymbol('a}');
    }]);

    app.controller('validateLogin', function($scope) {
        $scope.email = "";
        $scope.password = "";
    });
    **/
</script>

{% endblock %}