{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col-lg-12">
		<h3 class="text-center">Your created events</h3>
    </div>
</div>

{% for i in events: %}
    <div class="col-sm-3">
        <div class="w3-card-4 w3-hover-shadow">
            <p class="text-center">{{ i.name }}</p>
            <hr>
            <img src="{{ i.url }}" alt="Norway" style="width:100%" height="200px">
            <hr>
            <div class="w3-container w3-center">
              <div style="background-color: #dc2c0f; width: 50%;">
                  {{ i.description }}
              </div>
                <div style="width: 50%;">
                    <p><a href="{{ url_for('view_event', id=i.id) }}" class="btn btn-primary">Join</a></p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<a href="{{ url_for('add_event') }}" class="btn btn-primary">Add a new Event</a>

{% endblock %}