.footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.login-container {
  margin: 0 auto;
  width: 60%; /* Whatever exact width you are looking for (not bound by preset bootstrap widths) */
}