{% extends "layout.html" %}
{% block body %}

<h1 class="ui center aligned header">
	The best events take place here!
</h1>

<div class="ui link cards container center aligned" ng-app="loginApp" ng-controller="validateLogin">
  <div class="card" ng-repeat="x in events">
    <div class="image">
      <img src="{a x.photo a}">
    </div>
    <div class="content">
      <div class="header">{a x.name a}</div>
      <div class="meta">
        <a>{a x.type a}</a>
      </div>
      <div class="description">
        {a x.description a}
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Started in {a x.date a}
      </span>
      <span>
        <i class="user icon"></i>
        {a x.participants a} Participants
      </span>
    </div>
  </div>
</div>


<script type="text/javascript">
    var app = angular.module('loginApp', []);
    
    app.config(['$interpolateProvider', function($interpolateProvider) {
      $interpolateProvider.startSymbol('{a');
      $interpolateProvider.endSymbol('a}');
    }]);

    app.controller('validateLogin', function($scope) {
    	$scope.events = [
    		{id: 1, name: "A volta dos que nao foram", type: "Seminario", description: "The best event of the week",date: new Date(), participants: 75, photo: "https://i.ytimg.com/vi/GqrHBWTbeWY/hqdefault.jpg"},
    		{id: 2, name: "Biscoito de Polvilho", type: "Seminario", description: "The best event of the week",date: new Date(), participants: 75, photo: "http://www.culturamix.com/wp-content/gallery/lula-molusco-2/275737_Papel-de-Parede-Patrick-Lula-Molusco-e-Bob-Esponja_1920x1200.jpg"},
    		{id: 3, name: "Hiihahara", type: "Seminario", description: "The best event of the week",date: new Date(), participants: 75, photo: "http://www.humornaciencia.com.br/matematica/retas.jpg"},
    		{id: 4, name: "Turma do Pagode", type: "Seminario", description: "The best event of the week",date: new Date(), participants: 75, photo: "http://1.bp.blogspot.com/-ArX-dSPKIQM/UfE3bRL9wEI/AAAAAAAAVN0/kKTyuRmcBRk/s1600/feijoada-de-legumes.jpg"}
    	];
    });	
</script>

{% endblock %}